{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <h2>Edit message</h2>
    {{ form_start(form) }}
    {{ form_widget(form.message) }}
    {{ form_end(form) }}
{% endblock %}

